*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background: url('a.jpg') no-repeat center center fixed;
}

header {
    position: sticky;
    top: 0;
    background-color: #1e3a8a;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
}

header.scrolled{
    background-color: rgba(30, 58, 138, 0.19);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    height: 40px;
    width:auto;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.5);
}

.menu {
    display: flex;
    gap: 15px;
}

.menu a {
    color: #DBEAFE;
    text-decoration: none;
    font-size: 1em;
    padding: 8px 12px;
    border: 1px solid transparent;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.menu a:hover {
    color: #F97316;
    border-color: #F97316;
    border-radius: 5px;
}

main {
    padding: 40px;
}

.privacy-policy {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.privacy-policy h1 {
    text-align: center;
    font-size: 2em;
}

.privacy-policy h2 {
    color: #0073e6;
    margin-top: 20px;
}

.privacy-policy p, .privacy-policy ul {
    font-size: 1em;
    line-height: 1.6;
}

.privacy-policy ul {
    margin-left: 20px;
}

footer {
    background-color: #1E3A8A;
    color: #EFF6FF;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin-bottom: 0px; */
}

.footer-column {
    width: 30%;
    margin: 10px 0;
}

.footer-column h3 {
    font-size: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-column p, .footer-column ul {
    font-size: 1em;
    line-height: 1.2;
}

.footer-column ul {
    list-style-type: none;
}

.footer-column ul li {
    margin-bottom: 4px;
}

.footer-column ul li a {
    color: #EFF6FF;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #1E3A8A;
    /* padding: 20px; */
    font-size: 0.9em;
}
/* Responsive Design */
@media (max-width: 768px) {
    .privacy-policy {
        padding: 15px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
